//- modules/_header.pug

mixin header()
  header
    h1.form--state-input Submit Timesheet
    span.text--xxl.form--state-success Timesheet Submitted
    span.text--xxl.form--state-error Failed to Submit