.form {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.form {
  width: 100%;
  padding: var(--space-md);


  // Hide honeypot
  input#email {
    display: none;
  }

  input,
  textarea {
    width: 100%;
    padding: var(--space-xs) var(--space-sm);
    border-radius: var(--radius);
    border: 0px solid;
    box-shadow: var(--shadow-inset-sm);
    margin-bottom: var(--space-md);
    transition: cubic-bezier(0.39, 0.575, 0.565, 1) border-color 0.5s;
  }

  textarea {
    height: 6em;
  }

  label {
    padding-bottom: var(--space-xxxxs);
    padding-left: var(--space-xxs);
    display: inline-block;
    width: 100%;
  }

  .form--time {
    max-width: 5em;
  }

  .form--radio {
    background: var(--color-white);
    color: var(--color-contrast-high);
    border-radius: var(--radius);
    box-shadow: var(--shadow-inset-sm);
    margin-bottom: var(--space-md);
    transition: cubic-bezier(0.39, 0.575, 0.565, 1) border-color 0.5s;

    label {
      position: relative;
      width: 100%;
      padding: var(--space-sm) var(--space-lg) var(--space-sm) var(--space-md);

      input {
        opacity: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
      }

      input:hover ~ span,
      input:focus ~ span {
        font-weight: bold;
      }

      input:checked ~ span {
        font-weight: bold;

        &:after {
          content: url('/img/checkmark.svg');
          position: absolute;
          display: inline-block;
          color: var(--color-success-dark);
          right: 0.75em;
          top: 0.5em;
        }
      }

      &:after {
        content: '';
        display: block;
        width: 80%;
        position: absolute;
        border-bottom: 1px solid var(--color-contrast-low);
        bottom: 0;
        left: 10%;
      }

      &:last-child:after {
        display: none;
      }
    }
    
  }

  .show {
    display: block !important;
  }

  .hide {
    display: none !important;
  }

  input.form--valid {
    border: 3px solid var(--color-success-dark);
  }
  input.form--invalid {
    border: 3px solid var(--color-error);
  }
  label.form--invalid {
    color: var(--color-error);
  }

  .form--state-input {

  }

  .form--state-in-progress {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    // TODO: Move color to colors.scss
    background-color: rgba(44, 53, 61, 0.8);
    z-index: var(--zindex-overlay);
    text-align: center;

    img {
      display: inline-block;
      width: 5em;
    }

    p {
      color: var(--color-white);
      letter-spacing: 1px;
      font-family: var(--font-secondary);
      font-weight: 300;
    }
  }

  .form--result {
    text-align: center;

    svg {
      display: inline-block;
      width: 10em;
      max-width: 60%;
      padding-top: var(--space-xxl);
      padding-bottom: var(--space-xl);

      &.checkmark {
        fill: var(--color-success-dark);
      }

      &.cross {
        fill: var(--color-error);
      }
    }

    p {
      font-size: var(--text-md);
      font-family: var(--font-secondary);
      font-weight: 300;
    }
  }

  .form--state-error {
    display: none;
  }

  .form--state-success {
    display: none;
  }
}