//- index.pug
include modules/_head
include modules/_header
include modules/_footer
include modules/_form
include modules/_svgs

doctype html
html(lang='en')
  //- TODO: description
  +head({
    title: 'Timesheet',
    keywords: 'timesheet, cummul8, dpera, daniele, perazzolo, front, end, development, developer, assignment',
    description: '',
    img: 'https://dpera.com/projects/timesheet/img/cumul8_logo.png',
    alt_text: 'Cumul8 Logo',
    url: 'https://dpera.com/projects/timesheet'
  })
  body.parent
    form(
      method='post'
      action='bat/mail-handler.php'
    )#timesheet.form.text-component
      +header()
      .form--state-in-progress
        .center-div
          img(
            src='img/throbber.svg'
            alt='Submission Spinning Wheel'
          )
          p.text--lg Submitting
      .form--state-success.form--result
        +svg_checkmark()(class='checkmark')
        p.form--sub-email Thank you 
          span
          | .
        p.form--sub-time You have logged 
          span
          |  of work today.
      .form--state-error.form--result
        +svg_cross()(class='cross')
        p Failed to submit hours, please try again or manually email your timesheet to 
          a(href='mailto:example@cumul8.com?subject=[Timesheet Manual Submission] &body=Time: %0D%0A%0D%0AType of work: %0D%0A%0D%0AMessage: ').form--manual-email example@cumul8.com
      +generate_form_fields([
        {
          label: 'Email:',
          name: 'eaddr',
          type: 'email',
          placeholder: 'example@cumul8.com',
          max_length: 40
        },
        {
          name: 'hours',
          classes: '',
          type: 'number',
          min: 0,
          max: 24
        },
        {
          name: 'minutes',
          classes: '',
          type: 'number',
          min: 0,
          max: 59
        },
        {
          name: 'work',
          type: 'label',
          message: 'What type of work is this for?'
        },
        {
          name: 'work',
          type: 'radio',
          choices: [
            'Time working on bugs & features',
            'Time spent reviewing the work of a junior dev',
            'Other - Specify in message'
          ]
        },
        {
          label: 'Message (optional):',
          name: 'message',
          type: 'textarea',
          placeholder: 'maximum 1000 characters',
          max_length: 1000,
          min_length: 0
        },
      ])
      +footer()